label + .radio-wrapper {
  margin-top: 1.6rem;
}

.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1.6rem;
}

.radio-inner {
  border: 1px solid var(--stroke-default);
  border-radius: 0.8rem;

  display: grid;
  justify-items: center;
  gap: 0.8rem;

  padding: 3.2rem 0.8rem 0.8rem;
  position: relative;

  & input,
  & input:hover,
  & input:focus {
    all: unset;
    position: absolute;
    inset: 0;
  }

  & .radio-image {
    background-image: url(../../../assets/icons/radio-default.svg);
    width: 2.4rem;
    height: 2.4rem;

    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
  }

  &:hover,
  &:focus-within {
    border-color: var(--stroke-highlight);

    & .radio-image {
      background-image: url(../../../assets/icons/radio-hover.svg);
    }
  }

  &:has(:checked) {
    border: 2px solid var(--stroke-highlight);

    & .radio-image {
      background-image: url(../../../assets/icons/radio-checked.svg);
    }
  }
}
