@import url(./components/fields/index.css);

form {
  margin-top: 4.8rem;
}

fieldset {
  border: none;

  display: grid;
  gap: 2.4rem;
}

fieldset + fieldset {
  margin-top: 4.8rem;
}

legend {
  font: 600 1.6rem/1.25 var(--font-family);
  margin-bottom: 2.4rem;
}

.actions-wrapper {
  margin-top: 6.4rem;
  display: flex;
  justify-content: flex-end;
  gap: 1.6rem;
}
