:root {
  font-size: 62.5%;

  /* --- COLORS --- */
  --brand-light: #f67841;
  --brand-mid: #f3541c;
  --brand-dark: #e43a12;

  --text-primary: #292524;
  --text-secondary: #57534e;
  --text-tertiary: #8f8881;
  --text-highlight: #e43a12;

  --surface-primary: #fff;
  --surface-secondary: #fee7d6;
  --surface-disabled: #e7e5e4;

  --stroke-default: #d6d3d1;
  --stroke-highlight: #f3541c;

  --semantic-error: #dc2626;

  --orange: #f9a474;
  --yellow: #fedf6f;
  --green: #c7d78d;
  --blue: #b8cedc;
  --violet: #c3b2e7;
  --pink: #f682a5;

  /* --- FONTS --- */
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Schoolbell", var(--primary-font-family), sans-serif;
  --heading1: 600 4rem/125% var(--primary-font-family);
  --heading2: 600 2.4rem/125% var(--primary-font-family);
  --text-default: 400 1.6rem/150% var(--primary-font-family);
  --text-sm: 400 1.4rem/140% var(--primary-font-family);
  --text-secondary: 400 2rem/100% var(--secondary-font-family);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -mos-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button,
input,
textarea,
select {
  border: 0;
  font: inherit;
  color: inherit;
}
